// variables
@use './utils/variables' as vars;
@use './utils/mixins' as mix;

// fonts
@use './utils/fonts';

// UI
@use './UI/button';
@use './UI/card';

// components
@use './header';
@use './footer';

// templates
@use './swatches-section';
@use './before-after-section';
@use './safety-features-section';
@use './reviews-section';
@use './video-section';
@use './shower-features';
@use './hero-section';

* {
  box-sizing: border-box;
}

//  --- typography ---
body {
  @include fonts.montserrat();
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2 {
  font-size: 1.5rem;

  @include mix.bp(sm) {
    font-size: 1.875rem;
  }
  @include mix.bp(lg) {
    font-size: 2rem;
  }
}

// --- sizing ---
section {
  @include mix.flex-center();
  padding: 2rem 1rem;
  overflow: hidden;

  @include mix.bp(md) {
    padding: 4rem 1rem;
  }
}

.container {
  width: 100%;

  @include mix.bp(xs) {
    max-width: 640px;
  }

  @include mix.bp(sm) {
    max-width: 768px;
  }

  @include mix.bp(md) {
    max-width: 1024px;
  }

  @include mix.bp(lg) {
    max-width: 1280px;
  }
}

// --- headings ---
.heading {
  @include fonts.montserrat(1.5rem, vars.$blue, 700);
  line-height: 36px;
  margin-bottom: 0.5rem;

  @include mix.bp(sm) {
    font-size: 30px;
    line-height: 45px;
  }
  @include mix.bp(sm) {
  }
}
