@use "./variables" as vars;

// breakpoints
@mixin bp($breakpoint) {
  @if $breakpoint == xxs {
    @media (min-width: vars.$breakpoint-xxs) {
      @content;
    }
  } @else if $breakpoint == xs {
    @media (min-width: vars.$breakpoint-xs) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: vars.$breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: vars.$breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: vars.$breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: vars.$breakpoint-xl) {
      @content;
    }
  }
}

// utility
@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
