// colours
$white: #ffffff;
$black: #000000;
$grey: #f8f8f8;
$greyMed: #c3c3c3;
$greyDark: #9fa3aa;
$blue: #032d58;
$teal: #1ca6a6;
$light-blue: #5b85ad;

// breakpoints
$breakpoint-xxs: 480px;
$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;

// effects
$shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
